<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<%= favicon_link_tag 'favicon.svg', :rel => 'icon', :sizes => 'any', :type => 'image/svg+xml' %>
<%= favicon_link_tag 'favicon.png', :rel => 'icon', :sizes => '32x32', :type => 'image/png' %>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag params[:controller] %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<title>顔文字.jp</title>
</head>
<body>

<%= yield %>

</body>
</html>
